body {
    padding: 10px;
}

.listing_img {
    max-height: 400px;
    float: left;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    background-color: #F7F7F7;
    margin-right: 5px;
}

input[name='value'] {
    height: 36px;
    vertical-align: middle;
}

.category {
    display: inline;
    vertical-align: middle;
}

.active{
    color: #28a745;
    font-weight: normal;
}

.closed {
    color: #dc3545;
    font-weight: normal;
}

.comment-form {
    margin-top: 20px;
    clear: both;
}

.comments .media{
    margin-top: 20px;
    border-bottom: 1px dotted #ccc;
}

.media {
    margin-left: 70px;
}

textarea {
    height: 180px;
}

label {
    margin-top: 50px;
}