{% extends "auctions/layout.html" %}


{% block title %}
    Watchlist
{% endblock title %}
    

{% block body %}
    <h2>Watchlist</h2>
    {% for listing in listings %}
        <div class="card flex-row flex-wrap">
            <div class="card-header border-0">
                <img src="{{ listing.image_url }}" alt="" height="200px">
            </div>
            <div class="card-block px-2">
                <h4 class="card-title">{{ listing.title}}</h4>
                <p class="card-text">{{ listing.description }}</p>
                <p>Price: <strong>{{ listing.current_price }}$</strong></p>
            </div>
            <div class="w-100"></div>
            <div class="card-footer w-100 text-muted">
                <a href="{% url 'listing' listing.id %}" class="btn btn-primary">Open</a>
                <div class="category">Category: {{ listing.category }}</div>
            </div>
        </div>
        <br>
    {% empty %}
        <h3>Empty</h3>
    {% endfor %}
{% endblock %}